/* 2xl */
@media (max-width: 1536px) {}

/* xl */
@media (max-width: 1280px) {

    section {
        padding: 20px;
        margin: 0 auto;
        max-width: 92%;
    }
    .about .row {
        flex-direction: column;
    }
}

/* lg */
@media (max-width: 1024px) {

    .home-container .content h3 {
        font-size: 48px;
    }
    
    section {
        padding: 20px;
        margin: 0 auto;
        max-width: 92%;
    }

    .about img {
        min-width: 100%;
    }
    
    .home-container {
        background-position: left right;
        background-size: cover;
    }

    .review .box-container {
        grid-template-columns: 1fr;
    }

    .review .box-container .box {
        width: 70%;
        margin: 0 auto;
    }
}

/* md */
@media (max-width: 768px) {
    .header section {
        padding: 20px 2rem;
    }

    .nav-bar, .icons {
        display: none;
    }

    .menu-mobile {
        display: block;
        font-size: 32px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .nav-bar nav ul {
        margin-bottom: 40px;
    }

    .nav-bar nav ul a {
        font-size: 20px;
        &:hover {
            font-size: 22px;
        }
    }

    .home-container section {
        display: flex;
        align-items: center;
        min-height: 100vh;
    }

    .home-container {
        background-size: 100%;
        background-repeat: no-repeat;
    }

    .home-container {
        background-size: cover;
        background-position: center center;
    }

    .home-container .content {
        padding: 40px;
        width: 100%;
    }   

    .home-container .content h3 {
        font-size: 32px;
    }

    .about {
        text-align: justify;
        line-height: 1.3;
    }

    .about a {
        display: block;
        text-align: center;
    }

    .about img {
        width: 100%;
    }


}
   

/* sm */
@media (max-width: 640px) {}

/* xs */
@media (max-width: 475px) {}